{% load static %}
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}?20181209" />
</head>

<body>
  <div class="center-column">
    <form method="POST" action="/">
      <!--action here is used to send back to same url after posting data-->
      {% csrf_token %} {{form.title}}
      <!-- form.title is used to display title form only. if we write form only then form display title as well as complete checkmark also-->
      <input class="btn btn-info" type="submit" value="Submit" />
    </form>
    {% for task in tasks %}
    <div class="item-row">
      <a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}">Update</a>
      <!--creates a url of update with task id , use chrome dev tools for more-->
      <a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Delete</a>

      {% if task.complete == True %}
      <strike>{{task}}</strike>
      {% else %}
      <span>{{task}}</span>
      {% endif %}
    </div>

    {% endfor %}
    <footer id="main-footer">
      Copyright &copy; <a href="https://github.com/nikhilmahajan918" target="_blank">Nikhil</a>
    </footer>
  </div>
</body>

</html>